.h-200 {
    height: 200px;
}

.h-250 {
    height: 250px;
}

.h-300 {
    height: 300px;
}

.h-400 {
    height: 400px;
}

.w-fit-content {
    width: fit-content;
}

.h-fit-content {
    height: fit-content;
}

.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}